<header class="store-header">
  <div class="store-header__cover">
    <img
      src="./assets/images/banners/banner01.png"
      alt="Banner Delícias da Mary"
    />
  </div>

  <div class="store-header__overlay"></div>

  <div class="store-header__content">
    <span class="store-header__badge">Delícias da Mary</span>
    <h2 class="store-header__title">Sabor <i class="bi bi-dot"></i> Carinho <i class="bi bi-dot"></i> Qualidade em cada detalhe</h2>
  </div>

  <div class="store-header__avatar">
    <img
      src="./assets/images/mary.PNG"
      alt="Logo Delícias da Mary"
    />
  </div>
</header>
